xml-resources/web-service-references/calculate/wsdl/localhost_8080/calculate/calculate.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><xs:schema xmlns:tns="http://calcu/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://calcu/">

<xs:element name="division" type="tns:division"/>

<xs:element name="divisionResponse" type="tns:divisionResponse"/>

<xs:element name="multiplicacion" type="tns:multiplicacion"/>

<xs:element name="multiplicacionResponse" type="tns:multiplicacionResponse"/>

<xs:element name="potencia" type="tns:potencia"/>

<xs:element name="potenciaResponse" type="tns:potenciaResponse"/>

<xs:element name="raiz" type="tns:raiz"/>

<xs:element name="raizResponse" type="tns:raizResponse"/>

<xs:element name="resta" type="tns:resta"/>

<xs:element name="restaResponse" type="tns:restaResponse"/>

<xs:element name="suma" type="tns:suma"/>

<xs:element name="sumaResponse" type="tns:sumaResponse"/>

<xs:complexType name="multiplicacion">
<xs:sequence>
<xs:element name="num1" type="xs:double"/>
<xs:element name="num2" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="multiplicacionResponse">
<xs:sequence>
<xs:element name="return" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="resta">
<xs:sequence>
<xs:element name="num1" type="xs:double"/>
<xs:element name="num2" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="restaResponse">
<xs:sequence>
<xs:element name="return" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="raiz">
<xs:sequence>
<xs:element name="num" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="raizResponse">
<xs:sequence>
<xs:element name="return" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="potencia">
<xs:sequence>
<xs:element name="base" type="xs:double"/>
<xs:element name="exponente" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="potenciaResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="suma">
<xs:sequence>
<xs:element name="num1" type="xs:double"/>
<xs:element name="num2" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="sumaResponse">
<xs:sequence>
<xs:element name="return" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="division">
<xs:sequence>
<xs:element name="num1" type="xs:double"/>
<xs:element name="num2" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="divisionResponse">
<xs:sequence>
<xs:element name="return" type="xs:double"/>
</xs:sequence>
</xs:complexType>
</xs:schema>