xml-resources/web-service-references/calculate/wsdl/localhost_8080/calculate/calculate.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://calcu/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://calcu/" name="calculate">
<types>
<xsd:schema>
<xsd:import namespace="http://calcu/" schemaLocation="http://localhost:8080/calculate/calculate?xsd=1"/>
</xsd:schema>
</types>
<message name="multiplicacion">
<part name="parameters" element="tns:multiplicacion"/>
</message>
<message name="multiplicacionResponse">
<part name="parameters" element="tns:multiplicacionResponse"/>
</message>
<message name="suma">
<part name="parameters" element="tns:suma"/>
</message>
<message name="sumaResponse">
<part name="parameters" element="tns:sumaResponse"/>
</message>
<message name="division">
<part name="parameters" element="tns:division"/>
</message>
<message name="divisionResponse">
<part name="parameters" element="tns:divisionResponse"/>
</message>
<message name="resta">
<part name="parameters" element="tns:resta"/>
</message>
<message name="restaResponse">
<part name="parameters" element="tns:restaResponse"/>
</message>
<message name="potencia">
<part name="parameters" element="tns:potencia"/>
</message>
<message name="potenciaResponse">
<part name="parameters" element="tns:potenciaResponse"/>
</message>
<message name="raiz">
<part name="parameters" element="tns:raiz"/>
</message>
<message name="raizResponse">
<part name="parameters" element="tns:raizResponse"/>
</message>
<portType name="calculate">
<operation name="multiplicacion">
<input wsam:Action="http://calcu/calculate/multiplicacionRequest" message="tns:multiplicacion"/>
<output wsam:Action="http://calcu/calculate/multiplicacionResponse" message="tns:multiplicacionResponse"/>
</operation>
<operation name="suma">
<input wsam:Action="http://calcu/calculate/sumaRequest" message="tns:suma"/>
<output wsam:Action="http://calcu/calculate/sumaResponse" message="tns:sumaResponse"/>
</operation>
<operation name="division">
<input wsam:Action="http://calcu/calculate/divisionRequest" message="tns:division"/>
<output wsam:Action="http://calcu/calculate/divisionResponse" message="tns:divisionResponse"/>
</operation>
<operation name="resta">
<input wsam:Action="http://calcu/calculate/restaRequest" message="tns:resta"/>
<output wsam:Action="http://calcu/calculate/restaResponse" message="tns:restaResponse"/>
</operation>
<operation name="potencia">
<input wsam:Action="http://calcu/calculate/potenciaRequest" message="tns:potencia"/>
<output wsam:Action="http://calcu/calculate/potenciaResponse" message="tns:potenciaResponse"/>
</operation>
<operation name="raiz">
<input wsam:Action="http://calcu/calculate/raizRequest" message="tns:raiz"/>
<output wsam:Action="http://calcu/calculate/raizResponse" message="tns:raizResponse"/>
</operation>
</portType>
<binding name="calculatePortBinding" type="tns:calculate">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="multiplicacion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="suma">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="division">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="resta">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="potencia">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="raiz">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="calculate">
<port name="calculatePort" binding="tns:calculatePortBinding">
<soap:address location="http://localhost:8080/calculate/calculate"/>
</port>
</service>
</definitions>